<div id="paginator">
    <p>
        <?php if (($this->offset - $this->limit) >= 0): ?>
            <a href="<?php echo $this->url($this->routeName, array('limit' => $this->limit, 'offset' => $this->offset - $this->limit)); ?>">Previous</a>
        <?php else: ?>
            <span>Previous</span>
        <?php endif; ?>

        <?php $currentPage = ($this->offset / $this->limit) + 1; ?>
        <?php for ($i = 0; $i < $this->length; $i += $this->limit): ?>
            <?php $page = ($i / $this->limit) + 1; ?>
            <?php if ($page > ($currentPage - 8) && $page < ($currentPage + 8)): ?>
                <?php if ($page == $currentPage): ?>
                    <span>
                        <strong>
                            <?php echo $page ?>
                        </strong>
                    </span>
                <?php else: ?>
                    <span>
                        <a href="<?php echo $this->url($this->routeName, array('limit' => $this->limit, 'offset' => $i)); ?>">
                            <?php echo $page ?>
                        </a>
                    </span>
                <?php endif; ?>
            <?php endif; ?>
        <?php endfor; ?>

        <?php if (($this->offset + $this->limit) <= $this->length): ?>
            <a href="<?php echo $this->url($this->routeName, array('limit' => $this->limit, 'offset' => $this->offset + $this->limit)); ?>">Next</a>
        <?php else: ?>
            <span>Next</span>
        <?php endif; ?>
    </p>
</div>