<div>
    <p>
        Viewing <strong><?php echo $this->limit; ?></strong> item(s) of <strong><?php echo $this->length; ?></strong> total.
    </p>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->result as $entity): ?>
                <tr>
                    <td>
                        <a href="<?php echo $this->url($this->showRoute, array('id' => $entity->getId())); ?>">
                            <?php echo $entity->getName(); ?>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
            </tr>
        </tfoot>
    </table>

    <?php echo $this->partial('partial/paginator.phtml', array(
                       'limit' =>       $this->limit,
                       'offset' =>      $this->offset,
                       'length' =>      $this->length,
                       'routeName' =>   $this->indexRoute,
    )); ?>
</div>
