<script type="text/javascript">
    function search()
    {
        var criteria = document.getElementById('criteria').value;
        
        document.location = "<?php echo $this->url($this->searchRoute); ?>/" + criteria;
        
        return false;
    }
</script>

<div>
    <div>
        <p>Please specify a search term with at least 3 characters.</p>
        <form id="search-form" onsubmit="return search();">
            <input id="criteria" type="text" name="criteria" />
            <input id="submit" type="submit" name="submit" value="Search" />
        </form>
    </div>
    
    <?php if ($this->criteria !== null): ?>
        <div>
            <p>Search for <strong><?php echo $this->criteria ?></strong> resulted in <strong><?php echo count($this->results); ?></strong> matching item(s):</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->results as $entity): ?>
                        <tr>
                            <td>
                                <a href="<?php echo $this->url($this->showRoute, array('id' => $entity->getId())); ?>">
                                    <?php echo $entity->getName(); ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    <?php endif ?>
</div>