<?php if ($this->tabs !== null) { ?>
    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs();
        });
    </script>
<?php } ?>

<div>
    <div id="yaml_version" style="float: left;">
        <a href="<?php echo $this->url($this->route . '/show', array('format' => 'yml', 'id' => $this->entity->getId())); ?>">
            YAML
        </a>  | <a href="<?php echo $this->url($this->route . '/show', array('format' => 'json', 'id' => $this->entity->getId())); ?>">
            JSON
        </a>
    </div>

    <div id="original_id" style="text-align: right;">
        <span>Original ID:
            <strong>
                <?php echo $this->entity->getOriginalId(); ?>
            </strong>
        </span>
    </div>

    <hr />

    <div id="header">
        <?php echo $this->partial($this->header, array(
                           'entity' => $this->entity,
        )); ?>
    </div>

    <?php if ($this->tabs !== null): ?>
        <div id="tabs">
            <ul>
                <?php 
                    foreach ($this->tabs as $tabId => $tabConfig)
                    {
                        $criteria = isset($tabConfig['criteria']) ? $tabConfig['criteria'] : null;
                        $tabName = $tabConfig['tabName'];

                        if (is_null($criteria) || $criteria($this->entity))
                        {
                            echo "<li><a href=\"#" . $tabId ."\">" . $tabName . "</a></li>";
                        }
                    }
                ?>
            </ul>
            <?php 
                foreach ($this->tabs as $tabId => $tabConfig)
                {
                    $criteria = isset($tabConfig['criteria']) ? $tabConfig['criteria'] : null;
                    $tabName = $tabConfig['tabName'];

                    if (is_null($criteria) || $criteria($this->entity))
                    {
                        echo "<div id=\"" . $tabId . "\">";

                        echo $this->partial($tabConfig['partial'], array(
                                            'entity' => $this->entity,
                        ));

                        echo "</div>";
                    }
                }
            ?>
        </div>
    <?php endif; ?>
</div>
