<p>
    This planetary system resides in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getConstellation()->getRegion()->getName())); ?>">
        <?php echo $this->entity->getConstellation()->getRegion()->getName(); ?></a> and the constellation
    <a href="<?php echo $this->url('constellation/show', array('id' => $this->entity->getConstellation()->getName())); ?>">
        <?php echo $this->entity->getConstellation()->getName(); ?></a>.
</p>
<p>
    System has a security rating of 
    <strong><?php echo sprintf("%.2f", $this->entity->getSecurity()); ?></strong>
    and a security class of
    <strong><?php echo $this->entity->getSecurityClass(); ?></strong>.
</p>
<?php if (null !== $this->entity->getFaction()): ?>
    <p>
        Sovereignty belongs to the <a href="<?php echo $this->url('faction/show', array('id' => $this->entity->getFaction()->getName())); ?>">
            <?php echo $this->entity->getFaction()->getName(); ?></a>.
    </p>
<?php endif; ?>
<p>
    The planetary system's star is: <a href="<?php echo $this->url('star/show', array('id' => $this->entity->getStar()->getName())); ?>">
        <?php echo $this->entity->getStar()->getName(); ?></a>.
</p>