<?php $trueString = "True"; $falseString = "False" ?>
<table>
    <tbody>
        <tr>
            <th class="entityFieldName">Border?</th>
            <td><?php echo $this->entity->isBorder() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Fringe?</th>
            <td><?php echo $this->entity->isFringe() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Corridor?</th>
            <td><?php echo $this->entity->isCorridor() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Hub?</th>
            <td><?php echo $this->entity->isHub() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">International?</th>
            <td><?php echo $this->entity->isInternational() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Regional?</th>
            <td><?php echo $this->entity->isRegional() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Constellation?</th>
            <td><?php echo $this->entity->isConstellation() ? $trueString : $falseString; ?></td>
        </tr>
    </tbody>
</table>