<script type="text/javascript" src="/js/eve/planetary_system_explorer.js">
</script>

<script type="text/javascript">
    $(function () {
       opse = new PlanetarySystemExplorer("pse", 700, 500, "<?php echo $this->entity->getName(); ?>");
    });
</script>

<div id="pse">
    
</div>