body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#title-bar {
    padding-left: 0px;
}

#title-bar span {
    font-size: x-small;
}

#title-bar h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

#container {
    float: left;
    min-width: 350px;
    max-width: 1000px;
    margin-left: 10px;
    padding: 10px;
}

#menu-bar {
    float: left;
    width: 200px;
}

#menu-bar ul {
    z-index: 1;
    padding: 10px;
    margin-bottom: 10px;
}

#block {
    padding: 10px;
}

#block p {
    margin: 0;
}

#home-menu-item {
    font-weight: bold;
    text-align: center;
}

p {
    margin-top: 0;
}

#paginator p {
    padding-top: 1em;
    padding-bottom: 0em;
}

table {
    border-color: #000000;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-spacing: 0;
}

td, th {
    border-color: #000000;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-spacing: 0;
    background-color: #ffffff;
    padding: 4px;
}

th.entityFieldName {
    width: 150px;
    text-align: right;
}

td.entityFieldNumber {
    font-family: monospace;
    font-size: larger;
}

td.entityFieldLocation {
    text-align: right;
}

tr {
    margin: 0;
    padding: 0;
}
