<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->entity->getConstellations() as $constellation): ?>
            <tr>
                <td>
                    <a href="<?php echo $this->url('constellation/show', array('id' => $constellation->getName())); ?>">
                        <?php echo $constellation->getName(); ?>
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
        </tr>
    </tfoot>
</table>
