<p>
    This constellation resides in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getRegion()->getId())); ?>">
        <?php echo $this->entity->getRegion()->getName(); ?></a>.
</p>