<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->entity->getPlanetarySystems() as $planetary_system): ?>
            <tr>
                <td>
                    <a href="<?php echo $this->url('planetary-system/show', array('id' => $planetary_system->getName())); ?>">
                        <?php echo $planetary_system->getName(); ?>
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
        </tr>
    </tfoot>
</table>