<p>
    This star resides in the planetary system
    <a href="<?php echo $this->url('planetary-system/show', array('id' => $this->entity->getPlanetarySystem()->getName())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getName(); ?></a> and in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getPlanetarySystem()->getConstellation()->getRegion()->getName())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getConstellation()->getRegion()->getName(); ?></a> and the constellation
    <a href="<?php echo $this->url('constellation/show', array('id' => $this->entity->getPlanetarySystem()->getConstellation()->getName())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getConstellation()->getName(); ?></a>.
</p>