<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->entity->getPlanets() as $planet): ?>
            <tr>
                <td>
                    <a href="<?php echo $this->url('planet/show', array('id' => $planet->getName())); ?>">
                        <?php echo $planet->getName(); ?></a>
                </td>
                <td>
                    <?php echo $planet->getPlanetTypeName(); ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </tfoot>
</table>