<?php
use \Celaeno\Util;
$trueString = "True"; $falseString = "False"
?>
<table>
    <tbody>
        <tr>
            <th class="entityFieldName">Temperature</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getTemperature()); ?> K</td>
        </tr>
        <tr>
            <th class="entityFieldName">Spectral Clss</th>
            <td><?php echo $this->entity->getSpectralClass(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Luminosity</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getLuminosity(), 8); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Age</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getAge()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Life</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getLife()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Radius</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getRadius()); ?></td>
        </tr>
    </tbody>
</table>