<?php 

echo $this->doctype(); 

$children = $this->viewModel()->getCurrent()->getChildren();

foreach($children as $child)
{
    if ($child->captureTo() == 'content')
    {
        break;
    }
}

?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Eve Database Explorer')->setSeparator(' - ')->setAutoEscape(false); ?>

        <?php // echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>

        <?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/default.css')
                                    ->appendStylesheet($this->basePath() . '/css/smoothness/jquery-ui-1.9.0.custom.css'); ?>

        <?php echo $this->headScript()->appendFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->appendFile('//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
                                      ->appendFile($this->basePath() . '/js/jquery-ui-1.9.0.custom.js')?>
        
        <script type="text/javascript">
            $(function() {
                $('#menu').menu();
            });
        </script>
    </head>
    <body>
        <div id="title-bar">
            <span>EVE Online database browser by <a href="mailto:florian@nedlinux.nl">Florian Hester</a> &copy; 2012</span>
            <?php if ($child->pageTitlePartial): ?>
                <?php echo $this->partial($child->pageTitlePartial, array(
                   'args' => $child->pageTitleArgs
                )); ?>
            <?php else: ?>
                <h1><?php echo $child->getTemplate(); ?></h1>
            <?php endif; ?>
        </div>
        
        <div id="menu-bar">
            <ul id="menu">
                <li><a id="home-menu-item" href="<?php echo $this->url('default'); ?>">Home</a></li>

                <li>
                    <a href="<?php echo $this->url('region'); ?>">Regions</a>
                    <ul>
                        <li><a href="<?php echo $this->url('region/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('planetary-system'); ?>">Planetary systems</a>
                    <ul>
                        <li><a href="<?php echo $this->url('planetary-system/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('constellation'); ?>">Constellations</a>
                    <ul>
                        <li><a href="<?php echo $this->url('constellation/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('station'); ?>">Stations</a>
                    <ul>
                        <li><a href="<?php echo $this->url('station/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('corporation'); ?>">Corporations</a>
                    <ul>
                        <li><a href="<?php echo $this->url('corporation/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('faction'); ?>">Factions</a>
                    <ul>
                        <li><a href="<?php echo $this->url('faction/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('star'); ?>">Stars</a>
                    <ul>
                        <li><a href="<?php echo $this->url('star/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('planet'); ?>">Planets</a>
                    <ul>
                        <li><a href="<?php echo $this->url('planet/search'); ?>">Search</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('moon'); ?>">Moons</a>
                    <ul>
                        <li><a href="<?php echo $this->url('moon/search'); ?>">Search</a></li>
                    </ul>
                </li>
            </ul>

            <div id="block" class="ui-corner-all ui-widget-content">
                <p>Just a block.</p>
            </div>
        </div>

        <div id="container" class="ui-corner-all ui-widget-content">
            <?php echo $this->content; ?>
        </div>
    </body>
</html>
