<p>
    This station is located in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getPlanetarySystem()->getConstellation()->getRegion()->getId())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getConstellation()->getRegion()->getName(); ?></a>, the constellation
    <a href="<?php echo $this->url('constellation/show', array('id' => $this->entity->getPlanetarySystem()->getConstellation()->getId())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getConstellation()->getName(); ?></a>, and the solar system
    <a href="<?php echo $this->url('planetary-system/show', array('id' => $this->entity->getPlanetarySystem()->getId())); ?>">
        <?php echo $this->entity->getPlanetarySystem()->getName(); ?></a>.
</p>
<p>
    This station is owned by
    <a href="<?php echo $this->url('corporation/show', array('id' => $this->entity->getCorporation()->getId())); ?>">
        <?php echo $this->entity->getCorporation()->getName(); ?></a>.
</p>
<p>
    This station has a docking cost of <strong><?php echo $this->entity->getDockingCostPerVolume(); ?></strong> ISK.
</p>
<p>
    This station has a maximum dockable ship volume of <strong><?php echo $this->entity->getMaxShipVolumeDockable(); ?></strong> cubic meters.
</p>
<p>
    It costs <strong><?php echo $this->entity->getOfficeRentalCost(); ?></strong> ISK to rent an office on this station.
</p>