<p>
    This planet resides in the planetary system
    <a href="<?php echo $this->url('planetary-system/show', array('id' => $this->entity->getStar()->getPlanetarySystem()->getName())); ?>">
        <?php echo $this->entity->getStar()->getPlanetarySystem()->getName(); ?></a> and in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getStar()->getPlanetarySystem()->getConstellation()->getRegion()->getName())); ?>">
        <?php echo $this->entity->getStar()->getPlanetarySystem()->getConstellation()->getRegion()->getName(); ?></a> and the constellation
    <a href="<?php echo $this->url('constellation/show', array('id' => $this->entity->getStar()->getPlanetarySystem()->getConstellation()->getName())); ?>">
        <?php echo $this->entity->getStar()->getPlanetarySystem()->getConstellation()->getName(); ?></a>.
</p>
<p>
    The planet's star is: <a href="<?php echo $this->url('star/show', array('id' => $this->entity->getStar()->getName())); ?>">
        <?php echo $this->entity->getStar()->getName(); ?></a>.
</p>