<?php
use \Celaeno\Util;
$trueString = "True"; $falseString = "False"
?>
<table>
    <tbody>
        <tr>
            <th class="entityFieldName">Type</th>
            <td><?php echo $this->entity->getPlanetTypeName(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Temperature</th>
            <td><?php echo $this->entity->getTemperature(); ?> K</td>
        </tr>
        <tr>
            <th class="entityFieldName">Orbit Radius</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getOrbitRadius()); ?> m</td>
        </tr>
        <tr>
            <th class="entityFieldName">Orbit Period</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getOrbitPeriod()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Eccentricity</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getEccentricity(), 8); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Mass Dust</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getMassDust()); ?> kg</td>
        </tr>
        <tr>
            <th class="entityFieldName">Mass Gas</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getMassGas()); ?> kg</td>
        </tr>
        <tr>
            <th class="entityFieldName">Density</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getDensity(), 4); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Surface Gravity</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getSurfaceGravity(), 10); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Escape Velocity</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getEscapeVelocity()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Rotation Rate</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getRotationRate(), 4); ?> s</td>
        </tr>
        <tr>
            <th class="entityFieldName">Locked</th>
            <td><?php echo $this->entity->isLocked() ? $trueString : $falseString; ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Pressure</th>
            <td class="entityFieldNumber"><?php echo Util::formatNumber($this->entity->getPressure()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Orbit Position</th>
            <td><?php echo $this->entity->getOrbitPosition(); ?></td>
        </tr>
    </tbody>
</table>