<p><?php echo $this->entity->getDescription(); ?></p>
<?php if (null !== $this->entity->getFaction()): ?>
    <p>
       This corporations faction is the <a href="<?php echo $this->url('faction/show', array('id' => $this->entity->getFaction()->getName())); ?>">
            <?php echo $this->entity->getFaction()->getName(); ?></a>.
    </p>
<?php endif; ?>