<?php $trueString = "True"; $falseString = "False" ?>
<table>
    <tbody>
        <tr>
            <th class="entityFieldName">Size</th>
            <td><?php echo $this->entity->getSize(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Extent</th>
            <td><?php echo $this->entity->getExtent(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Public shares</th>
            <td><?php echo $this->entity->getPublicShares(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Initial share price</th>
            <td><?php echo $this->entity->getInitialPrice(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Minimum security</th>
            <td><?php echo $this->entity->getMinSecurity(); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Scattered?</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Fringe</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Corridor</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Hub</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Border</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Station count</th>
            <td></td>
        </tr>
        <tr>
            <th class="entityFieldName">Station system count</th>
            <td></td>
        </tr>
    </tbody>
</table>