<p><?php echo $this->entity->getDescription(); ?></p>
<p>
    The size factor of this faction is <strong><?php echo $this->entity->getSizeFactor(); ?></strong>.
</p>
<p>
    This faction's corporation is the
    <a href="<?php echo $this->url('corporation/show', array('id' => $this->entity->getCorporation()->getName())); ?>">
        <?php echo $this->entity->getCorporation()->getName(); ?></a>.
</p>
<?php if (null !== $this->entity->getMilitiaCorporation()): ?>
    <p>
        This faction's millitia corporation is the
        <a href="<?php echo $this->url('corporation/show', array('id' => $this->entity->getMilitiaCorporation()->getName())); ?>">
            <?php echo $this->entity->getMilitiaCorporation()->getName(); ?></a>.
    </p>
<?php endif; ?>